// 메인 섹션
// .joinSection {
//   @apply relative px-4 sm: px-6 lg:px-8;

//   article {
//     @apply mx-auto max-w-screen-xl;

//     h1 {
//       @apply text-5xl tracking-tight leading-tight font-semibold text-gray-800 sm: text-5xl md:text-6xl relative text-center pt-40;
//     }

//     .joinDiv {
//       @apply relative z-10;

//       p {
//         @apply text-gray-800 text-xl text-center lg: mt-8 mt-12 mb-7 lg:mb-12;
//       }

//       .joinBtn {
//         @apply flex justify-center w-full;

//         a {
//           @apply inline-flex items-center justify-center px-5 py-3 border-transparent text-base hover: bg-studion-600 hover:text-white leading-6 rounded-md text-gray-800 bg-transparent border-2 border-studion-600 transition duration-150 ease-in-out md:text-lg md:px-6;
//           margin-bottom: 14vw;
//         }
//       }
//     }
//   }
// }
.customShapeDividerBottom1640840584 {
  position: absolute;
  width: 100vw;
  transform: rotate(180deg);
  bottom: -1px;

  svg {
    height: 30vw;
    fill: #2f4858;
  }
}